<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <centre><h1>Samant Raj</h1></centre>
   <hr>
   <h3>summary</h3>
   <p>A highly accomplished and proactive professional with a track record of efficiently managing complex priorities
    and driving results. Seeking a full-time position that offers growth opportunities, where I can apply my strong
    interpersonal, time management, and analytical skills. Proficient in Python, SQL, and Advanced Excel for data
    manipulation, with expertise in Power BI and Tableau for delivering compelling data visualizations. Skilled at
    extracting key insights and enabling data-driven strategies to drive business decisions. Ready to contribute
    immediately and </p>
    <h3>Education</h3>
    <pre>
        Graphic Era Deemed To Be University, Dehradun, Uttarakhand, India, B.Tech in Electronics and
        Communication Engineering, (CGPA: 7.33), Sep 2020 - Jun 2024
        
        Indian Public School, Madhubani Bihar, 12th CBSE (percentage:62.40), 2020

        Indian Public School, Madhubani Bihar ,10th CBSE (percentage:69.40), 2018
    </pre>

    <h3>skils</h3>
    <pre>
        python
        sql
        html
    </pre>
    <h3>projects</h3>
    <pre>Elizium Hotel Sales and Revenue Project
        In this, I utilized data analytics tools to extract, transform, and visualize the historical data from the hotel's
        booking system. The dashboard was designed to be intuitive, allowing stakeholders to quickly grasp
        performance metrics and trends. By incorporating interactive elements, users could filter data by date
        range, room type, and other relevant parameters for deeper insights.
        Tools – Power Bi, Microsoft Power Point.
    </pre>
</body>
</html>